<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <form action="/addLesson" method="post">
            <div class="mb-3">
                <label for="course" class="form-label">Course Id:</label>
                <input type="text" class="form-control" id="course" name="course">
            </div>

            <div class="mb-3">
                <label for="lessonId" class="form-label">Lesson Id:</label>
                <input type="text" class="form-control" id="lessonId" name="lessonId">
            </div>

            <div class="mb-3">
                <label for="lessonName" class="form-label">Lesson Name:</label>
                <input type="text" class="form-control" id="lessonName" name="lessonName">
            </div>

            <div class="mb-3">
                <label for="lessonTopic" class="form-label">Lesson Topics:</label>
                <input type="text" class="form-control" id="lessonTopic" name="lessonTopic">
            </div>

            <div class="mb-3">
                <label for="lessonLink" class="form-label">Lesson Link:</label>
                <input type="text" class="form-control" id="lessonLink" name="lessonLink">
            </div>

            <button type="submit" class="btn btn-primary">ADD LESSON</button>
        </form>
    </div>
</body>
</html>
