<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trainer Home</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Trainer Home</h1>
        <div class="d-grid gap-2 mt-4">
            <a href="/addC" class="btn btn-primary">ADD COURSE</a>
            <a href="/viewCourses" class="btn btn-secondary mt-2">VIEW COURSES</a>
            <a href="/newLesson" class="btn btn-info mt-2">ADD LESSON</a>
        </div>
    </div>
</body>
</html>
